[flake8]
ban-relative-imports = true
inline-quotes = "
per-file-ignores =
    noxfile.py:D
    referencing/tests/*:D
    referencing/_attrs.py:D
ignore =
    # Barring function calls in default args. Ha, no.
    B008,
    # See https://github.com/PyCQA/flake8-bugbear/issues/131
    B306,
    # It's fine for some magic methods to not have docstrings.
    D105,
    # This rule makes diffs uglier when expanding docstrings (and it's uglier)
    D200,
    # This rule misses sassy docstrings ending with ! or ?.
    D400,
    # Plz spaces after section headers
    D412,
    # This conflicts with the hilarious way one tells mypy you mean to
    # re-export an imported object
    I250,
    # (flake8 default) old PEP8 boolean operator line breaks
    W503,
